body{
    margin: 0;
    animation: colorchange 300s;

    -webkit-animation: colorchange 300s;
}

@keyframes colorchange
{
    0%  {background: rgba(229, 91, 195, 1);}
    25% {background: rgba(232, 22, 110, 1);}
    50% {background: rgba(232, 22, 40, 1);}
    75% {background: rgba(232, 22, 40, 0.5);}
    100%{background: rgba(232, 22, 103, 1);}
}

@-webkit-keyframes colorchange
{
    0%  {background: rgba(229, 91, 195, 1);}
    25% {background: rgba(232, 22, 110, 1);}
    50% {background: rgba(232, 22, 40, 1);}
    75% {background: rgba(232, 22, 40, 0.5);}
    100%{background: rgba(232, 22, 103, 1);}
}

.heartbutton{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    Text-align: center;
}

.heart{
    width: 50%;
    animation: beat .5s infinite alternate;
    transform-origin: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: none;
}

h1{
    mix-blend-mode: difference;
    color: white;
    font: bold 30px Helvetica, Arial, Sans-Serif;
    text-shadow: 1px 1px #fe029d,
                 2px 2px #fe4902,
                 3px 3px #fe4902; 

}

@keyframes beat{
	to { transform: scale(1.2); }
}

.heart:hover{
    transform: scale(0.5);
}

@media only screen and (max-width: 767px){
    .heart{
        width: 80%;
    }
}